In [ ]:
import pandas as pd

In [ ]:
#read the file
matches = pd.read_csv("../wta/matches.csv")

#convert the id to an integer
matches['loser_id'] = matches['loser_id'].apply( lambda x: int(x))
matches['winner_id'] = matches['winner_id'].apply( lambda x: int(x))
#here, we are changing all of the N/A loser and winner ages to 0
matches['loser_age'] = matches['loser_age'].fillna(0)
matches['winner_age'] = matches['winner_age'].fillna(0)
#here, we are converting the loser and winner ages to integers
matches['loser_age'] = matches['loser_age'].apply( lambda x: int(x))
matches['year'] = matches['tourney_date'].apply( lambda x: str(x)[:4])

In [ ]:
list(matches.columns)

In [137]:
cols_of_interest = [ 'year', 'best_of', 'loser_age', 'winner_age', 'draw_size', 'loser_id','loser_ioc', 'loser_name',
                    'loser_rank', 'winner_id', 'winner_name', 'winner_ioc','winner_rank','tourney_id', 'tourney_name','tourney_date']
# matches[matches['loser_age'] == 0][cols_of_interest]
# matches[matches['tourney_name'] == 'Wimbledon'][cols_of_interest].head()
matches[ (( matches['winner_name'] == 'Maria Sharapova') |  ( matches['loser_name'] == 'Maria Sharapova') ) & ( matches['tourney_name'] == 'Wimbledon') & ( matches ['year'] =='2005') ]  [cols_of_interest].head()
# matches[cols_of_interest].head(10)

,year,best_of,loser_age,winner_age,draw_size,loser_id,loser_ioc,loser_name,loser_rank,winner_id,winner_name,winner_ioc,winner_rank,tourney_id,tourney_name,tourney_date
15184,2005,3,25,18.171116,128,201291,ESP,Nuria Llagostera Vives,36.0,201345,Maria Sharapova,RUS,2.0,2005-W-SL-GBR-01A-2005,Wimbledon,20050620
15207,2005,3,15,18.171116,128,201402,KAZ,Sesil Karatantcheva,52.0,201345,Maria Sharapova,RUS,2.0,2005-W-SL-GBR-01A-2005,Wimbledon,20050620
15222,2005,3,24,18.171116,128,200011,SLO,Katarina Srebotnik,57.0,201345,Maria Sharapova,RUS,2.0,2005-W-SL-GBR-01A-2005,Wimbledon,20050620
15230,2005,3,26,18.171116,128,200109,FRA,Nathalie Dechy,18.0,201345,Maria Sharapova,RUS,2.0,2005-W-SL-GBR-01A-2005,Wimbledon,20050620
15234,2005,3,23,18.171116,128,200069,RUS,Nadia Petrova,8.0,201345,Maria Sharapova,RUS,2.0,2005-W-SL-GBR-01A-2005,Wimbledon,20050620

In [121]:
players = pd.read_csv("../wta/players.csv", sep=',', encoding='latin-1')

In [122]:
players.head()

   player_id  first_name       last_name hand  birth_date country_code
0     200001     Martina          Hingis    R  19800930.0          SUI
1     200002     Mirjana           Lucic    R  19820309.0          CRO
2     200003     Justine           Henin    R  19820601.0          BEL
3     200004  Kerry Anne            Guse    R  19721204.0          AUS
4     200005      Jolene  Watanabe Giltz    R  19680831.0          USA

In [123]:
qualifying_matches = pd.read_csv("../wta/qualifying_matches.csv")

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
qualifying_matches.head()

In [ ]:
rankings = pd.read_csv("../wta/rankings.csv")

In [ ]:
rankings.head()

In [159]:
#objective
#To print the winner/loser for each mach

#Input  ?
#Names of the two players
#Year
#tournament Name

#Example question - in 2012, in wimbledon, Nadal vs Dokovich - who won ?

#First: Did both Nadal and 

# player1 = input("Enter the name of Player 1: ")
# player2 = input("Enter the name of Player 2: ")
# year = input("Enter the year of the match: ")
# tourney = input("Enter in the name of the tournament. If you don't know the name of the tournament, type in 0: ")

player1= 'Roger'
player2 = 'Novak'
year = '2005'
tourney = 'Wimbledon'
playerCheck(player1, year, tourney)
playerCheck(player2, year, tourney)



# ifTourneytPlayed(year, tourney)

 playerCheck >> Name of first player= Roger  year= 2005  tourney= Wimbledon
ifTourneytPlayed ---******
Year >> 2005  touneyName > Wimbledon
Length of the match_arr is  127
Yes, the tournament >> Wimbledon  was held in year > 2005

 Sorry, the player Roger did not play the tournament Wimbledon

 playerCheck >> Name of first player= Roger  year= 2005  tourney= Wimbledon
ifTourneytPlayed ---******
Year >> 2005  touneyName > Wimbledon
Length of the match_arr is  127
Yes, the tournament >> Wimbledon  was held in year > 2005

 Sorry, the player Novak did not play the tournament Wimbledon

In [157]:
def playerCheck(player, year, tourney):
    print("\n playerCheck >> Name of first player=", player1, " year=", year, " tourney=", tourney)

    #check if this tournament was held in that year ?
    ifTourneytPlayed(year, tourney)
    # output -> this tournanment was not played in this year. Sorry, please enter another year.
    
    #check if player(s) played this tournament
    player_arr = matches[ (( matches['winner_name'] == player ) |  ( matches['loser_name'] == player) ) & ( matches['tourney_name'] == tourney) & ( matches ['year'] == year) ]  

#     print (player_arr)
    if (len (player_arr)>0):
        print ("\n Yes, the player ", player, "played the tournament >>", tourney)
    else:
        print ("\n Sorry, the player", player, "did not play the tournament", tourney)

In [158]:
def ifTourneyPlayed(year, tourney):
    
    print("ifTourneyPlayed : Year >>", year, " touneyName >", tourney) 
    match_arr = (matches[ ( matches['year'] == year) & ( matches['tourney_name'] == tourney)]) 
#     print (match_arr)
    if (len (match_arr) > 0):
        print( "Yes, the tournament >>", tourney, " was held in year >", year)
    else:
        print( "Sorry, the tournament >>", tourney, " was  NOT held in year >", year)

In [ ]:
 if year >= 2000:
#     month = input("Enter in the month of the match. If you don't know the exact month and/or date of the match, type in 0: ")
#         if month == 0:
#             tourney = input("Enter in the name of the tournament: ")
#         if month !=0:
#             date = input("Enter in the date of the match(numbers only): ")


# if tourney != 0: 
#     year = input("Enter the year of the match: ")

# location = input("Enter the location of the tournament. If you don't know the location, please type in 0: ")
# if location != 0:
#     year = input ("Enter in the year the match was played. If you don't know the year, please type in 0: ")
#     if year != 0:
#         month = input("Enter in the month the match was played: ")
#             if month != 0
#                 date = input("Enter in the date that the match was played: ")
# else:
#     tourney = input("Enter in the name of the tournament: ")